.fighter-preview___root {
  display: flex;
  flex-basis: 350px;
}

.fighter-preview___right {
  /* align-items: flex-end; */
  align-items: center;
  flex-direction: row-reverse;
}

.fighter-preview___left {
  align-items: center;
}

.figher-info {
  display: flex;
  flex-direction: column;
}

.figher-info span {
  text-transform: capitalize;
  font-weight: bold;
}

.figher-params-wrapper {
  flex: 0 1 45%;
  background-color: #0006;
}

.figher-info-img-preview-wrapper img {
  max-height: 300px;
}

.fighter-data-preview {
  color: azure;
  font-size: 1.25em;
}

